root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[desktop/src/images/*.def]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[desktop/src/stages/*.txt]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[pwa/public/images/*.def]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset

[pwa/public/stages/*.txt]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
